framework: netcoreapp3.1
storage: none

source https://api.nuget.org/v3/index.json
nuget FSharp.Core ~> 4.7
nuget FSharp.Data ~> 3.3
nuget FSharp.Compiler.Service ~> 37.0
nuget PlantUml.Net ~> 1.2
nuget MF.ConsoleApplication ~> 2.0

group Tests
    storage: none
    source https://api.nuget.org/v3/index.json
    nuget Expecto
    nuget YoloDev.Expecto.TestSdk

// [ FAKE GROUP ]
group Build
    storage none
    source https://api.nuget.org/v3/index.json
    nuget Fake.DotNet.Cli
    nuget Fake.IO.FileSystem
    nuget Fake.IO.Zip
    nuget Fake.Core.Target
    nuget Fake.DotNet.AssemblyInfoFile
    nuget Fake.Core.ReleaseNotes
    nuget Fake.Tools.Git
