# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/

# Paket dependency manager
.paket/
packages/
paket-files/

# Ionide
.ionide/

# FAKE - F# Make
.fake/

# Other Files
*._fs
output*/
