name: Check

on:
  push:
    branches:
      - master
      - main
  pull_request:
  schedule:
    - cron: "0 3 * * *"

jobs:
  build:
    strategy:
      matrix:
        os:
          - name: macos-latest
            run: ./build.sh
          - name: ubuntu-latest
            run: ./build.sh
          - name: windows-latest
            run: ./build.cmd
        dotnet: [10.0.100]
    runs-on: ${{ matrix.os.name }}

    steps:
      - uses: actions/checkout@v6

      - name: Setup .NET Core
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: ${{ matrix.dotnet }}

      - name: Run tests
        run: ${{ matrix.os.run }}

  tests:
    runs-on: macos-latest
    name: "Check application"

    steps:
      - uses: actions/checkout@v6

      - name: Setup .NET Core
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: 10.x

      - name: Run tests
        env:
          DOTNET_ROLL_FORWARD: latestMajor
        run: ./build.sh -t tests no-lint
